<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TalkToMeAPI - Api App UI</title>

    <link rel="icon" href="~/Content/favicon.ico" type="image/vnd.microsoft.icon" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/sweetalert.css" rel="stylesheet" />

    <script type="text/javascript" src="~/Scripts/mespeak/mespeak.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <style type="text/css">
        .alert .glyphicon {
            display: table-cell;
        }
        .alert div,
        .alert span {
            padding-left: 5px;
            display: table-cell;
        }
         #footer {
        background-color: #f5f5f5;
      }
    </style>

</head>
<body>
    <div class="alert alert-danger fade in" style="display:none;" id="status-error">
        Error - not connected...
    </div>
    <div class="alert alert-info fade in" style="display:none;" id="status-connecting">
        Trying to connect...
    </div>
    <div class="alert alert-success fade in" style="display:none;" id="status-ok">
        Connected. Use me in your Logic App or call me directly. Do not forget to turn up the volume!
    </div>

    <div class="alert alert-info fade in" id="last-message-alert" hidden="hidden">
        <div class="glyphicon glyphicon-volume-up">
        </div>
        <div id="last-message"></div>
    </div>

    <div id="footer" class="navbar-fixed-bottom">
        <div class="container">
            <p class="muted credit">Azure API APP text-to-speech proof-of-concept by <a href="http://soapfault.com/blog" target="_blank">Magnus Ohlsson</a></p>
        </div>
    </div>

    <script type="text/javascript">
        //Load the mespeak configuration and language files
        meSpeak.loadConfig('/mespeak/mespeak_config.json');
        meSpeak.loadVoice('/mespeak/mespeak_voice_en-us.json');

        //Prompt user
        swal({
            title: "Connect?",
            text: "Your browser will act as the API APP loudspeaker!",
            imageUrl: "/Content/image_megaphone.png",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55", confirmButtonText: "Connect",
            cancelButtonText: "No thanks!",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {
                    //Connect to the SignalR hub
                    $('#status-connecting').show();
                    $.connection.hub.start().done(function () {
                        swal("Connected!", "Cool. This browser now act as the API APP text-to-speach megaphone", "success");
                    });
                } else {
                    swal("Cancelled", "Refresh page if you change your mind", "error");
                }
            });


        var loudspeaker = $.connection.talkToMeHub;
        $.connection.hub.stateChanged(connectionStateChanged);

        $.connection.hub.disconnected(function () {
            setTimeout(function () {
                $.connection.hub.start();
            }, 5000); // Restart connection after 5 seconds.
        });

        //The SignaR entry point for method speak
        loudspeaker.client.speak = function (textToRead, speed) {
            $("#last-message-alert").show();
            $("#last-message").text("Last message : " + textToRead);
            meSpeak.speak(textToRead);
        };

        function connectionStateChanged(state) {
            var stateConversion = { 0: 'connecting', 1: 'connected', 2: 'reconnecting', 4: 'disconnected' };
            console.log('Talktome SignalR state changed from: ' + stateConversion[state.oldState]
             + ' to: ' + stateConversion[state.newState]);
            if (state.newState == 1) {
                $('#status-ok').show();
                $('#status-error').hide();
                $('#status-connecting').hide();
            }
            else if (state.newState == 0 || state.newState == 2) {
                $('#status-connecting').show();
                $('#status-ok').hide();
                $('#status-error').hide();
            }
            else if (state.newState == 4) {
                $('#status-error').show();
                $('#status-ok').hide();
                $('#status-connecting').hide();
            }
        }
    </script>

</body>
</html>
